.modal{
    width: 90%;
    height: 80%;
    position: absolute;
    top:5%;
    left: 5%;
   background-color: azure;
}

iframe{
    width: 98%;
    height: 97%;
    background-color: #d4ffcc;
}

.text{
    height: 100%;
}

.close_modal{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: -25px;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-weight: 600;
} 

.modal.hide{
    display: none;
}