.modal {
  width: 375px;
  height: auto;
  background-color: rgb(16, 29, 29);
  position: absolute;
  top: 100px;
  left: 40%;
  color: black;
  border: 2px solid #b0baff;
  border-radius: 5px;
  z-index: 101;
}
.modal .modal_title p{
  color: antiquewhite;
  font-size: 18px;
  text-align: center;
  margin: 10px 0 0 0;
  text-decoration: underline;
}

.modal p{
  color: antiquewhite;
  font-size: 13px;
  text-align: center;
  margin: 10px 0 0 0;
}

.modal input{
    background-color: #d7e4fa;
    border-radius: 5px;
    height: 35px;
}

.modal input:focus{
  background-color: #ffffff;
}




.modal span {
  color: antiquewhite;
  font-size: 18px;
  text-align: center;
  margin: 10px 0 0 0;
}

.hide {
  display: none;
}

.save, .not_save{
  font-weight: 600;
  width: 100px;
  height: 30px;
  margin: 10px;
  font-size: 13px;
}
