.item {
  width: 400px;
  height: 50px;
  background-color: rgb(3, 104, 104);
  border: 2px solid rgb(0, 0, 0);
  margin: 20px auto;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item>div{
  padding: 15px;
}

.item:nth-child(1) {
  margin-top: 60px;
}

.item p {
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  color: rgb(255, 255, 255);
}

.flex_wrapper{
display: flex;
}

.flex_wrapper>div{
   margin: 5px;
}


.item_button{
    color: #520000;
    font-size: 22px;
    justify-content: right;
    transition: 0.3s;
}

.item_button:hover{
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}