body{
  background-color: #d9dadb;;
  text-align: center;
}



.flex_container{
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}


.menu{
  width: 15%;
  background-color: #41464e;
 
}

.article{
  width: 83%;
  background-color: #191b20;
  color: whitesmoke;
  padding: 10px;

}


.item{
  background-color: black;
  margin:10px 5px ;
  transition: 0.5s;
  border-radius: 2px;
  border: 1px rgb(0, 0, 0) solid;
}

.menu a{
  text-decoration: none;
  color:#7fb2ff;
  font-size: 20px;
}

.item:hover{
  border: 1px white solid;
  box-sizing: border-box;
  transition: 0.3s;
}

.active {
  background-color: azure;
  transition: 0.5s;
  color: rgb(0, 0, 148);
}

.example{
  background-color: #41464e;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 17px;
  text-align: left;
}

.content{
  text-align: left;
  line-height: 27px;
  font-size: 18px;
}


.important {
  text-decoration: underline;
  font-weight: 500;
}

.count{
  display: flex;
  justify-content: center;
}

.counter{
  color: rgb(247, 255, 175);
  font-weight: 700;
  font-size: 18px;
}

.count>*{
  margin: 10px;
}

.image_container{
  max-width: 800px;
  margin: 0 auto;
}

.image{
  width: 100%;
}